In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [4]:
data=pd.read_csv(r"D:\deepLearningNLP\ANNClassification\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
##Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
#Encode categorical variables
labelEncoderGender=LabelEncoder()
data['Gender']=labelEncoderGender.fit_transform(data['Gender'])

In [8]:
##Onehot encode 'Geography' column
onehotEncoderGeo=OneHotEncoder(handle_unknown='ignore')
geoEncoded=onehotEncoderGeo.fit_transform(data[['Geography']]).toarray()
geoEncoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [9]:
geoEncodeddf=pd.DataFrame(geoEncoded,columns=onehotEncoderGeo.get_feature_names_out(['Geography']))
geoEncodeddf

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
#Combine onehot encoded values with original data
data=pd.concat([data.drop('Geography',axis=1),geoEncodeddf],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
#Split the data into features and target
X=data.drop('EstimatedSalary',axis=1) #independent variables
y=data['EstimatedSalary'] #dependent variable

In [12]:
#Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
#Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
#Save the encoders and scaler for later use
with open('labelEncoderGenderRegression.pkl','wb') as file:
    pickle.dump(labelEncoderGender,file)
with open('onehotEncoderGeoRegression.pkl','wb') as file:
    pickle.dump(onehotEncoderGeo,file)
with open('scalerRegression.pkl','wb')as file:
    pickle.dump(scaler,file)

In [15]:
## ANN Regression Problem Statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From d:\deepLearningNLP\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [16]:
#Build the model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)#Output layer for regression
])

##Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\deepLearningNLP\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\deepLearningNLP\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
##Setup the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [18]:
##Setup Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [19]:
## Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\deepLearningNLP\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\deepLearningNLP\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 5ms/step - loss: 100375.0391 - mae: 100375.0391 - val_loss: 98511.2109 - val_mae: 98511.2109
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99606.3125 - mae: 99606.3125 - val_loss: 96956.9688 - val_mae: 96956.9688
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96894.3203 - mae: 96894.3203 - val_loss: 92986.3125 - val_mae: 92986.3125
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91553.2109 - mae: 91553.2109 - val_loss: 86351.6641 - val_mae: 86351.6641
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 83738.5078 - mae: 83738.5078 - val_loss: 77792.0859 - val_mae: 77792.0859
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 74629.0547 - mae: 74629.0547 - val_loss: 68921.6484 - val_mae: 68921.6484
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 65851.5703 - mae: 65851.5703 - val_loss: 61255.1367 - val_mae: 61255.1367
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 58866.5742 - mae: 58866.5742 - val_loss: 55765.7148 - val_mae: 55765.7148
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 54365.7461 - mae: 54365.7461 - val_loss: 52741.6836 - val_mae: 52741.6836
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 52055.9648 - mae: 52055.9648 - val_loss: 51466.7422 - val_mae: 51466.7422
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 51076.9102 - mae: 51076.9102 - val_loss: 51024.4766 - val_mae: 51024.4766
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50664.3633 - mae: 50664.3633 - val_loss: 50872.0195 - val_mae: 50872.0195
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50490.7266 - mae: 50490.7266 - val_loss: 50810.2227 - val_mae: 50810.2227
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50388.2109 - mae: 50388.2109 - val_loss: 50759.7344 - val_mae: 50759.7344
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50315.4922 - mae: 50315.4922 - val_loss: 50708.6133 - val_mae: 50708.6133
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50246.2227 - mae: 50246.2227 - val_loss: 50667.8828 - val_mae: 50667.8828
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50189.5742 - mae: 50189.5742 - val_loss: 50632.0977 - val_mae: 50632.0977
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50143.1406 - mae: 50143.1406 - val_loss: 50594.8555 - val_mae: 50594.8555
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50100.1367 - mae: 50100.1367 - val_loss: 50560.1836 - val_mae: 50560.1836
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50058.7773 - mae: 50058.7773 - val_loss: 50543.4375 - val_mae: 50543.4375
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 50019.3828 - mae: 50019.3828 - val_loss: 50505.5156 - val_mae: 50505.5156
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49985.7422 - mae: 49985.7422 - val_loss: 50485.0391 - val_mae: 50485.0391
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49951.2930 - mae: 49951.2930 - val_loss: 50457.8789 - val_mae: 50457.8789
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49919.4219 - mae: 49919.4219 - val_loss: 50446.1953 - val_mae: 50446.1953
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49892.5508 - mae: 49892.5508 - val_loss: 50424.7109 - val_mae: 50424.7109
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49865.3867 - mae: 49865.3867 - val_loss: 50415.0742 - val_mae: 50415.0742
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49837.2266 - mae: 49837.2266 - val_loss: 50392.3477 - val_mae: 50392.3477
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49814.9570 - mae: 49814.9570 - val_loss: 50376.7305 - val_mae: 50376.7305
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49795.5742 - mae: 49795.5742 - val_loss: 50363.5000 - val_mae: 50363.5000
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49773.6484 - mae: 49773.6484 - val_loss: 50350.0742 - val_mae: 50350.0742
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49755.3438 - mae: 49755.3438 - val_loss: 50337.3594 - val_mae: 50337.3594
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49732.1172 - mae: 49732.1172 - val_loss: 50328.1016 - val_mae: 50328.1016
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49718.4961 - mae: 49718.4961 - val_loss: 50322.1602 - val_mae: 50322.1602
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49698.5664 - mae: 49698.5664 - val_loss: 50302.1562 - val_mae: 50302.1562
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49683.8672 - mae: 49683.8672 - val_loss: 50295.5117 - val_mae: 50295.5117
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49671.5742 - mae: 49671.5742 - val_loss: 50290.7461 - val_mae: 50290.7461
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49654.3516 - mae: 49654.3516 - val_loss: 50280.7891 - val_mae: 50280.7891
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49641.7148 - mae: 49641.7148 - val_loss: 50286.4336 - val_mae: 50286.4336
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49632.0781 - mae: 49632.0781 - val_loss: 50280.7188 - val_mae: 50280.7188
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49616.2695 - mae: 49616.2695 - val_loss: 50265.8164 - val_mae: 50265.8164
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49605.5391 - mae: 49605.5391 - val_loss: 50269.4375 - val_mae: 50269.4375
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.0859 - mae: 49593.0859 - val_loss: 50257.0547 - val_mae: 50257.0547
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49583.7305 - mae: 49583.7305 - val_loss: 50261.0742 - val_mae: 50261.0742
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49576.1094 - mae: 49576.1094 - val_loss: 50258.7578 - val_mae: 50258.7578
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49562.3711 - mae: 49562.3711 - val_loss: 50261.9805 - val_mae: 50261.9805
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49556.4062 - mae: 49556.4062 - val_loss: 50256.9023 - val_mae: 50256.9023
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49546.8594 - mae: 49546.8594 - val_loss: 50255.3555 - val_mae: 50255.3555
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49534.7109 - mae: 49534.7109 - val_loss: 50251.3750 - val_mae: 50251.3750
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49528.2031 - mae: 49528.2031 - val_loss: 50252.4883 - val_mae: 50252.4883
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49522.9492 - mae: 49522.9492 - val_loss: 50252.6758 - val_mae: 50252.6758
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49510.1016 - mae: 49510.1016 - val_loss: 50251.7227 - val_mae: 50251.7227
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49500.8594 - mae: 49500.8594 - val_loss: 50252.3594 - val_mae: 50252.3594
Epoch 53/100
250/250 [==============================] - 1s 6ms/step - loss: 49495.8477 - mae: 49495.8477 - val_loss: 50238.7109 - val_mae: 50238.7109
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49492.0000 - mae: 49492.0000 - val_loss: 50254.4062 - val_mae: 50254.4062
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49482.1602 - mae: 49482.1602 - val_loss: 50235.7773 - val_mae: 50235.7773
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49478.1562 - mae: 49478.1562 - val_loss: 50251.8086 - val_mae: 50251.8086
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49470.3945 - mae: 49470.3945 - val_loss: 50255.4922 - val_mae: 50255.4922
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49462.5391 - mae: 49462.5391 - val_loss: 50255.9922 - val_mae: 50255.9922
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49459.0352 - mae: 49459.0352 - val_loss: 50256.0312 - val_mae: 50256.0312
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49451.9727 - mae: 49451.9727 - val_loss: 50260.3164 - val_mae: 50260.3164
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49447.2461 - mae: 49447.2461 - val_loss: 50244.0625 - val_mae: 50244.0625
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49442.0312 - mae: 49442.0312 - val_loss: 50245.2070 - val_mae: 50245.2070
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49436.2188 - mae: 49436.2188 - val_loss: 50257.7539 - val_mae: 50257.7539
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 49434.7461 - mae: 49434.7461 - val_loss: 50253.0781 - val_mae: 50253.0781
Epoch 65/100
250/250 [==============================] - 1s 5ms/step - loss: 49424.3906 - mae: 49424.3906 - val_loss: 50252.9570 - val_mae: 50252.9570

In [20]:
model.save('modelRegression.h5')

d:\deepLearningNLP\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [21]:
##Load Tensorboard Extension
%load_ext tensorboard

In [22]:
%tensorboard --logdir logs/fit20251204-142849

In [23]:
##Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test Mean Absolute Error :{test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50235.7773 - mae: 50235.7773
Test Mean Absolute Error :50235.77734375

In [24]:
model.save('regressionModel.h5')