In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [46]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [47]:
##Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [48]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [49]:
#Encode categorical variables
labelEncoderGender=LabelEncoder()
data['Gender']=labelEncoderGender.fit_transform(data['Gender'])

In [50]:
##Onehot encode 'Geography' column
onehotEncoderGeo=OneHotEncoder(handle_unknown='ignore')
geoEncoded=onehotEncoderGeo.fit_transform(data[['Geography']]).toarray()
geoEncoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [51]:
geoEncodeddf=pd.DataFrame(geoEncoded,columns=onehotEncoderGeo.get_feature_names_out(['Geography']))
geoEncodeddf

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [52]:
#Combine onehot encoded values with original data
data=pd.concat([data.drop('Geography',axis=1),geoEncodeddf],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [53]:
#Split the data into features and target
X=data.drop('EstimatedSalary',axis=1) #independent variables
y=data['EstimatedSalary'] #dependent variable

In [54]:
#Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [55]:
#Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [56]:
#Save the encoders and scaler for later use
with open('labelEncoderGenderRegression.pkl','wb') as file:
    pickle.dump(labelEncoderGender,file)
with open('onehotEncoderGeoRegression.pkl','wb') as file:
    pickle.dump(onehotEncoderGeo,file)
with open('scalerRegression.pkl','wb')as file:
    pickle.dump(scaler,file)

In [57]:
## ANN Regression Problem Statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [58]:
#Build the model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)#Output layer for regression
])

##Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 64)                832

 dense_19 (Dense)            (None, 32)                2080

 dense_20 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [60]:
##Setup the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [61]:
##Setup Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [62]:
## Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\AIPractice\ANNClassification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\AIPractice\ANNClassification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 7s 12ms/step - loss: 100395.4062 - mae: 100395.4062 - val_loss: 98586.1953 - val_mae: 98586.1953
Epoch 2/100
250/250 [==============================] - 2s 7ms/step - loss: 99856.7656 - mae: 99856.7656 - val_loss: 97449.5078 - val_mae: 97449.5078
Epoch 3/100
250/250 [==============================] - 2s 10ms/step - loss: 97800.4141 - mae: 97800.4141 - val_loss: 94370.9766 - val_mae: 94370.9766
Epoch 4/100
250/250 [==============================] - 2s 8ms/step - loss: 93586.2891 - mae: 93586.2891 - val_loss: 89024.1875 - val_mae: 89024.1875
Epoch 5/100
250/250 [==============================] - 3s 11ms/step - loss: 87219.8594 - mae: 87219.8594 - val_loss: 81822.0859 - val_mae: 81822.0859
Epoch 6/100
250/250 [==============================] - 2s 7ms/step - loss: 79336.3984 - mae: 79336.3984 - val_loss: 73760.0547 - val_mae: 73760.0547
Epoch 7/100
250/250 [==============================] - 2s 10ms/step - loss: 71026.9453 - mae: 71026.9453 - val_loss: 66047.2578 - val_mae: 66047.2578
Epoch 8/100
250/250 [==============================] - 2s 10ms/step - loss: 63451.2695 - mae: 63451.2695 - val_loss: 59667.6992 - val_mae: 59667.6992
Epoch 9/100
250/250 [==============================] - 2s 10ms/step - loss: 57706.8867 - mae: 57706.8867 - val_loss: 55228.2852 - val_mae: 55228.2852
Epoch 10/100
250/250 [==============================] - 3s 11ms/step - loss: 54004.7148 - mae: 54004.7148 - val_loss: 52687.8438 - val_mae: 52687.8438
Epoch 11/100
250/250 [==============================] - 2s 9ms/step - loss: 51955.3438 - mae: 51955.3438 - val_loss: 51530.8750 - val_mae: 51530.8750
Epoch 12/100
250/250 [==============================] - 2s 8ms/step - loss: 51003.2969 - mae: 51003.2969 - val_loss: 51062.8516 - val_mae: 51062.8516
Epoch 13/100
250/250 [==============================] - 2s 9ms/step - loss: 50582.3594 - mae: 50582.3594 - val_loss: 50871.1875 - val_mae: 50871.1875
Epoch 14/100
250/250 [==============================] - 2s 8ms/step - loss: 50390.8047 - mae: 50390.8047 - val_loss: 50776.7383 - val_mae: 50776.7383
Epoch 15/100
250/250 [==============================] - 2s 8ms/step - loss: 50284.2188 - mae: 50284.2188 - val_loss: 50710.8984 - val_mae: 50710.8984
Epoch 16/100
250/250 [==============================] - 3s 10ms/step - loss: 50209.4453 - mae: 50209.4453 - val_loss: 50661.7305 - val_mae: 50661.7305
Epoch 17/100
250/250 [==============================] - 2s 9ms/step - loss: 50158.5469 - mae: 50158.5469 - val_loss: 50611.6680 - val_mae: 50611.6680
Epoch 18/100
250/250 [==============================] - 2s 7ms/step - loss: 50113.2305 - mae: 50113.2305 - val_loss: 50575.5703 - val_mae: 50575.5703
Epoch 19/100
250/250 [==============================] - 3s 12ms/step - loss: 50076.3984 - mae: 50076.3984 - val_loss: 50539.7461 - val_mae: 50539.7461
Epoch 20/100
250/250 [==============================] - 2s 7ms/step - loss: 50045.1680 - mae: 50045.1680 - val_loss: 50511.7383 - val_mae: 50511.7383
Epoch 21/100
250/250 [==============================] - 2s 7ms/step - loss: 50013.8633 - mae: 50013.8633 - val_loss: 50480.7812 - val_mae: 50480.7812
Epoch 22/100
250/250 [==============================] - 2s 8ms/step - loss: 49985.7773 - mae: 49985.7773 - val_loss: 50462.0742 - val_mae: 50462.0742
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 49962.5898 - mae: 49962.5898 - val_loss: 50442.4531 - val_mae: 50442.4531
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 49937.2773 - mae: 49937.2773 - val_loss: 50427.1641 - val_mae: 50427.1641
Epoch 25/100
250/250 [==============================] - 3s 12ms/step - loss: 49914.6172 - mae: 49914.6172 - val_loss: 50409.9023 - val_mae: 50409.9023
Epoch 26/100
250/250 [==============================] - 2s 6ms/step - loss: 49891.7969 - mae: 49891.7969 - val_loss: 50395.3320 - val_mae: 50395.3320
Epoch 27/100
250/250 [==============================] - 2s 7ms/step - loss: 49869.3594 - mae: 49869.3594 - val_loss: 50376.9766 - val_mae: 50376.9766
Epoch 28/100
250/250 [==============================] - 3s 11ms/step - loss: 49850.5195 - mae: 49850.5195 - val_loss: 50363.9727 - val_mae: 50363.9727
Epoch 29/100
250/250 [==============================] - 2s 8ms/step - loss: 49833.0508 - mae: 49833.0508 - val_loss: 50351.3008 - val_mae: 50351.3008
Epoch 30/100
250/250 [==============================] - 2s 6ms/step - loss: 49813.6367 - mae: 49813.6367 - val_loss: 50346.2695 - val_mae: 50346.2695
Epoch 31/100
250/250 [==============================] - 2s 9ms/step - loss: 49796.8086 - mae: 49796.8086 - val_loss: 50338.1836 - val_mae: 50338.1836
Epoch 32/100
250/250 [==============================] - 2s 6ms/step - loss: 49781.4023 - mae: 49781.4023 - val_loss: 50317.1719 - val_mae: 50317.1719
Epoch 33/100
250/250 [==============================] - 2s 7ms/step - loss: 49767.0625 - mae: 49767.0625 - val_loss: 50320.6562 - val_mae: 50320.6562
Epoch 34/100
250/250 [==============================] - 3s 12ms/step - loss: 49752.6055 - mae: 49752.6055 - val_loss: 50309.7305 - val_mae: 50309.7305
Epoch 35/100
250/250 [==============================] - 2s 8ms/step - loss: 49739.4570 - mae: 49739.4570 - val_loss: 50301.6953 - val_mae: 50301.6953
Epoch 36/100
250/250 [==============================] - 2s 9ms/step - loss: 49726.1602 - mae: 49726.1602 - val_loss: 50294.0586 - val_mae: 50294.0586
Epoch 37/100
250/250 [==============================] - 3s 11ms/step - loss: 49710.7578 - mae: 49710.7578 - val_loss: 50290.1250 - val_mae: 50290.1250
Epoch 38/100
250/250 [==============================] - 2s 7ms/step - loss: 49697.8633 - mae: 49697.8633 - val_loss: 50292.9609 - val_mae: 50292.9609
Epoch 39/100
250/250 [==============================] - 4s 15ms/step - loss: 49689.5742 - mae: 49689.5742 - val_loss: 50280.9648 - val_mae: 50280.9648
Epoch 40/100
250/250 [==============================] - 2s 7ms/step - loss: 49673.9805 - mae: 49673.9805 - val_loss: 50277.9844 - val_mae: 50277.9844
Epoch 41/100
250/250 [==============================] - 2s 8ms/step - loss: 49664.0781 - mae: 49664.0781 - val_loss: 50277.6445 - val_mae: 50277.6445
Epoch 42/100
250/250 [==============================] - 2s 9ms/step - loss: 49655.6875 - mae: 49655.6875 - val_loss: 50270.2734 - val_mae: 50270.2734
Epoch 43/100
250/250 [==============================] - 2s 8ms/step - loss: 49642.5508 - mae: 49642.5508 - val_loss: 50265.6367 - val_mae: 50265.6367
Epoch 44/100
250/250 [==============================] - 2s 9ms/step - loss: 49631.0703 - mae: 49631.0703 - val_loss: 50265.0156 - val_mae: 50265.0156
Epoch 45/100
250/250 [==============================] - 2s 9ms/step - loss: 49626.8867 - mae: 49626.8867 - val_loss: 50274.1055 - val_mae: 50274.1055
Epoch 46/100
250/250 [==============================] - 2s 7ms/step - loss: 49616.5664 - mae: 49616.5664 - val_loss: 50264.9453 - val_mae: 50264.9453
Epoch 47/100
250/250 [==============================] - 2s 8ms/step - loss: 49605.0000 - mae: 49605.0000 - val_loss: 50273.2305 - val_mae: 50273.2305
Epoch 48/100
250/250 [==============================] - 2s 9ms/step - loss: 49598.1367 - mae: 49598.1367 - val_loss: 50274.9961 - val_mae: 50274.9961
Epoch 49/100
250/250 [==============================] - 2s 9ms/step - loss: 49589.0859 - mae: 49589.0859 - val_loss: 50271.0586 - val_mae: 50271.0586
Epoch 50/100
250/250 [==============================] - 2s 8ms/step - loss: 49581.3516 - mae: 49581.3516 - val_loss: 50275.8398 - val_mae: 50275.8398
Epoch 51/100
250/250 [==============================] - 2s 8ms/step - loss: 49572.4727 - mae: 49572.4727 - val_loss: 50276.3125 - val_mae: 50276.3125
Epoch 52/100
250/250 [==============================] - 2s 8ms/step - loss: 49567.2148 - mae: 49567.2148 - val_loss: 50274.4805 - val_mae: 50274.4805
Epoch 53/100
250/250 [==============================] - 3s 11ms/step - loss: 49561.0273 - mae: 49561.0273 - val_loss: 50274.6250 - val_mae: 50274.6250
Epoch 54/100
250/250 [==============================] - 2s 7ms/step - loss: 49552.2930 - mae: 49552.2930 - val_loss: 50276.5352 - val_mae: 50276.5352
Epoch 55/100
250/250 [==============================] - 2s 8ms/step - loss: 49547.0938 - mae: 49547.0938 - val_loss: 50278.0859 - val_mae: 50278.0859
Epoch 56/100
250/250 [==============================] - 3s 13ms/step - loss: 49539.8633 - mae: 49539.8633 - val_loss: 50264.0000 - val_mae: 50264.0000
Epoch 57/100
250/250 [==============================] - 2s 10ms/step - loss: 49535.8555 - mae: 49535.8555 - val_loss: 50265.3945 - val_mae: 50265.3945
Epoch 58/100
250/250 [==============================] - 3s 11ms/step - loss: 49528.9297 - mae: 49528.9297 - val_loss: 50263.4258 - val_mae: 50263.4258
Epoch 59/100
250/250 [==============================] - 2s 7ms/step - loss: 49523.8672 - mae: 49523.8672 - val_loss: 50275.0391 - val_mae: 50275.0391
Epoch 60/100
250/250 [==============================] - 4s 15ms/step - loss: 49516.5508 - mae: 49516.5508 - val_loss: 50274.8984 - val_mae: 50274.8984
Epoch 61/100
250/250 [==============================] - 2s 7ms/step - loss: 49510.1133 - mae: 49510.1133 - val_loss: 50288.1094 - val_mae: 50288.1094
Epoch 62/100
250/250 [==============================] - 2s 6ms/step - loss: 49510.3633 - mae: 49510.3633 - val_loss: 50281.8789 - val_mae: 50281.8789
Epoch 63/100
250/250 [==============================] - 3s 13ms/step - loss: 49501.0586 - mae: 49501.0586 - val_loss: 50290.8281 - val_mae: 50290.8281
Epoch 64/100
250/250 [==============================] - 2s 9ms/step - loss: 49497.6367 - mae: 49497.6367 - val_loss: 50287.0000 - val_mae: 50287.0000
Epoch 65/100
250/250 [==============================] - 2s 7ms/step - loss: 49491.9805 - mae: 49491.9805 - val_loss: 50280.9141 - val_mae: 50280.9141
Epoch 66/100
250/250 [==============================] - 2s 7ms/step - loss: 49485.9609 - mae: 49485.9609 - val_loss: 50279.1562 - val_mae: 50279.1562
Epoch 67/100
250/250 [==============================] - 1s 6ms/step - loss: 49481.5859 - mae: 49481.5859 - val_loss: 50278.3945 - val_mae: 50278.3945
Epoch 68/100
250/250 [==============================] - 2s 6ms/step - loss: 49477.6016 - mae: 49477.6016 - val_loss: 50283.3047 - val_mae: 50283.3047

In [63]:
model.save('modelRegression.h5')

d:\AIPractice\ANNClassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [69]:
##Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [75]:
%tensorboard --logdir logs/fit20251204-142849

Reusing TensorBoard on port 6008 (pid 16924), started 0:00:10 ago. (Use '!kill 16924' to kill it.)

In [76]:
##Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test Mean Absolute Error :{test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50263.4258 - mae: 50263.4258
Test Mean Absolute Error :50263.42578125

In [77]:
model.save('regressionModel.h5')

d:\AIPractice\ANNClassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(